.header{
    background-color: rgb(235, 70, 125);
    display:flex;
    align-items:center;
    padding:20px;
}

.logo{
    font-size:28px;
    font-weight:bold;
}

.nav{
    display:flex;
    align-items:center;
    gap:15px;
    margin-left:auto;
}